.root-panel {
    width: 100%;
    height: 100%;
    background-color: #000000FA;
    flow-children: down;
}

.lobby_guide {
    width: 1152px;
    height: 648px;
    horizontal-align: middle;
    border: 2px solid #222;
}

.container {
    horizontal-align: middle;
    padding: 20px;
    box-shadow: fill black 1px 1px 4px 4px;
    background-color: #222;
    flow-children: down;
    width: 1152px;
}

.message-container {
    margin-top: 140px;
}

.message {
    font-size: 24px;
    horizontal-align: middle;
    color: yellow;
    font-weight: bold;
}

.button-container {
    flow-children: right;
    horizontal-align: middle;
}

Label {
    vertical-align: middle;
    horizontal-align: middle;
}

.DemoButton {
    margin: 0px 30px;
    vertical-align: middle;
    width: 300px;
    height: 50px;
}

.button-quit {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #441111), to( #662222 ) );
    font-weight: bold;
}

.button-continue {
    background-color: #222;
}