.CustomDropDownContainer {
    width: 320px;
    z-index: 999;
}
.CustomDropDownSearch {
    position: 0px 36px 0px;
    margin-top: 10px;
    margin-left: 1px;
}

.CustomDropDown {
    flow-children: down;
    position: 0px 82px 0px;
    max-height: 400px;
    overflow: squish scroll;
    width: 100%;
    margin-left: 1px;
}

.CustomDropDown Button, .CustomDropDown Label {
    width: 100%;
}

.CustomDropDown Label {
    padding: 6px 0px 2px 16px;
    background-color: #3d4448;
    color: #ffffff99;
    border-top: 1px solid #00000066;
    border-bottom: 1px solid #00000066;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.CustomDropDown Label:hover {
    background-color: #585e62;
}

.CustomDropDownButton {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );

	height: 36px;
	width: 190px;

	margin: 3px;

    border-style: solid;
    border-width: 1px;

    border-top-color: #444444;
    border-left-color: #494949;
    border-bottom-color: #111111;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    
    background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
    background-repeat: no-repeat;
    background-position: right 38px 35%;
    background-size: 32px 32px;
    box-shadow: #00000055 -2px -2px 1px 4px;
}

.CustomDropDownButton:hover {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#555555));
}

.CustomDropDownButton:active {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#aaaaaa));
    pre-transform-scale2d: 1.02;
}

.CustomDropDownLabel {
    margin: 5px;
    color: #cccccc;
    font-size: 16;
    font-weight: thin;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0px;
}