.LoadingScreenContainer {
  height: 100%;
  width: 1120px;
  flow-children: down;
  padding: 50px;
}

.text-panel {
  background-color: black;
  opacity: .8;
  color: white;
  padding: 35px;
}

#DescriptionPanel {
  margin-top: 35px;
  font-size: 24px;
}

#AddonTitle {
  font-size: 50;
}

#btn-container {
  width: 55%;
  flow-children: right;
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 40px;
}

.margin-right {
  margin-right: 40px;
}

.btn {
  height: 150px;
  padding: 10px;
  width: 45%;
  flow-children: down;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #eee ), to( #ccc ) );
}

.btn:hover {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #fff ), to( #ddd ) );
}

.btn:active {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #eee ), to( #ccc ) );
  box-shadow:0 1px 2px #aaa inset;
}

.btn Label {
  vertical-align: middle;
  margin-top: 5px;
  color: #848484;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  font-size: 50;
}

.btn Label.sm {
  font-size: 25;
}