.TabContainer {
    width: 500px;
    height: 32px;
    flow-children: right;
    margin-bottom: 20px;
}

.TabButton:hover {
    background-color: #383838cc;
}
.TabButtonLabel {
	transition-property: transform, color;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
.TabButton:hover .TabButtonLabel {
    transform: translateY( 2px );
    color: white;
}
.TabButton.TabActive {
    background-color: #383838cc;
}

.ControlPanel
{
    flow-children: down;
    horizontal-align: left;
    padding-left: 0px;
    margin-top:42px;
}

.ControlPanelOuterContainer {
    flow-children: right;
    transition-property: background-color, transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.ControlPanelContainer
{
    horizontal-align: left;
    height: 690px;
    width: 210px;
    font-size: 16;
    background-color: #181818dd;
    border: 2px solid #222222;
   	box-shadow: #000000aa -4px -4px 8px 8px;
}

.TabButton {
    width: 96px;
    height: 32px;
    background-color: #181818cc;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: #00000055 -4px -4px 8px 8px;
}

.ControlPanelSlideThumb
{
    width: 32px;
    height: 96px;
    background-color: #181818cc;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: #00000055 -4px -4px 8px 8px;
    vertical-align: middle;
}

.TabButtonLabel {
    horizontal-align: middle;
    vertical-align: middle;
}

.RightArrowButtonIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
    background-position: 0% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #91aba6;

	transform: translateX( -9px );
	
	transition-property: transform, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ControlPanelSlideThumb:hover
{
	background-color: #383838cc;
}

#ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
	transform: translateX( -12px );
	wash-color: white;
}

.ControlPanel.Minimized .RightArrowButtonIcon
{
	transform: rotateZ(180deg) translateX( -6px );
}

.ControlPanel.Minimized #ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
	transform: translateX( 3px ) rotateZ(180deg);
	wash-color: white;
}

.ControlPanel.Minimized .ControlPanelOuterContainer
{
    transform: translateX( -210px );
}

.TabContent {
    transform: translateX( -210px );
}

.TabContent.TabContentActive {
    transform: translateX( 0px );
}

.ControlPanelContainer Label
{

	horizontal-align: left;
	font-size: 24;	
	color: #444444;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
}

#Maximized
{
    flow-children: down;
}

.hr
{
    width: 100%;
    height: 1px;
    margin: 4px 2px;
    background-color: #444444;
}

.TabContent .Category Label
{
	horizontal-align: left;
	margin-left: 5px;
	margin-top: 2px;
	font-size: 20;
	color: #888888;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	min-width: 100%;
}

.TabContent
{
	flow-children: down;
	visibility:visible;
    min-width: 100%;
}

.ControlPanelContainer #Maximized #MinimizeButton
{
	flow-children: down;
    transform: translateX( 0% ) translateY( 0% );
    vertical-align: middle;
    horizontal-align: left;
    width: 100%;
    background-color: #181818;
    border: 2px solid #111111;
	visibility:visible;
}

.Category
{
	flow-children: down;
	border-style: solid;
	border-color: #00000022;
	border-width: 0%;
	//border-radius: 5px;

	box-shadow: fill #00000011 -4px -4px 8px 9px;

	padding: 5px;

	background-color: #11111166;
}

.Row
{
	flow-children: right;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 0%;
	width: 100%;
}

.TabContent .Category .Row2 Label
{
    min-width: 50%;
}

.Category .Row Label
{
	horizontal-align: right;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18;
	color: #888888;
}

.Category .Row Label {
  font-size: 12;
}

.Row #DemoButton
{
	
}

.Row TextEntry
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
    border: 1px solid baseBorder;

    color: lightgrey;
    font-size: 16;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;

    height: 36px;
    width: 190px;

    padding-top: 8px;
    padding-left: 5px;
}

.Row TextEntry #PlaceholderText
{
    opacity: 1.0;

    transition-property: opacity;
    transition-duration: 0.1s;

    vertical-align: middle;

	color: #444444;
	font-size: 16;
}

.Row TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText
{
  opacity: 0.0;
}

.DemoButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );

	height: 36px;
	width: 190px;

	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;

    border-style: solid;
    border-width: 1px;

    border-top-color: #444444;
    border-left-color: #494949;
    border-bottom-color: #111111;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.col-2
{
    min-width: 50%;
    width:50%;
}

.col-3
{
    min-width: 33%;
    width:33%;
}
.col-4
{
    min-width: 25%;
    width:25%;
}

.Category .Row .DemoButton#FieldButton
{
	height: 40px;
	width: 190px;
}

.Category .DemoButton Label
{
    margin-top: 5px;
    color: #cccccc;
    font-size: 16;
    font-weight: thin;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0px;
}

.DemoButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #555555 ) );
}

.Category .DemoButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #888888 ), to( #aaaaaa ) );
	pre-transform-scale2d: 1.02;
}

.Category .DemoButton:active Label
{
  /*color: #eeeeee;*/
}

.Category .DemoButton:selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #777777 ), to( #999999 ) );
}

.Category ToggleButton.DemoButton:active Label
{
  /*color: #eeeeee;*/
}

.Category ToggleButton:selected Label
{
  /*color: #cccccc;*/
}

.Category .DemoButton Label.text-center{
    text-align:center;
}