@define ANIM_TIME: 0.75s;

#_dynamic_team_2,
#_dynamic_team_3
{
	width: 380px;
	height: 100%;
}

#_dynamic_team_2
{
	margin-left: 52px;
}

#_dynamic_team_3
{
    horizontal-align: right;
	margin-right: 52px;
}

#_dynamic_team_2 .TeamScorePlayers,
#_dynamic_team_3 .TeamScorePlayers
{
    height: 100%;
}

#_dynamic_team_3 .TeamScorePlayers
{
    horizontal-align: right;
}

#_dynamic_team_3 .PlayerContainer {
    horizontal-align: right;
}


.CustomHudRoot
{
	width: 100%;
	height: 100%;
}

#MultiteamScoreboard
{
	vertical-align: top;
	horizontal-align: center;
	height: 800px;
	width: 940px;

	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 1s;
	transition-delay: 2s;
	transition-timing-function: ease-in-out;
}

.PlayerContainer {
    width: 100%;
    height: 100%;
}

#PlayersContainer
{
    flow-children: right;
	height: 100%;
	width: 316px;
	z-index: 2;
}

#_dynamic_team_2 .ScoreboardPlayer {
    margin-left: -4px;
    background-color: #FFFFFF00;
    opacity: 1;
}

#_dynamic_team_3 .ScoreboardPlayer {
    margin-right: -4px;
    background-color: #FFFFFF00;
    opacity: 1;
}

#_dynamic_team_2 .ScoreboardPlayer .PlayerPortraitWrapper {
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
}

#_dynamic_team_3 .ScoreboardPlayer .PlayerPortraitWrapper {
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
}

#_dynamic_team_2 .ScoreboardPlayer .PlayerPortraitWrapper:hover,
#_dynamic_team_3 .ScoreboardPlayer .PlayerPortraitWrapper:hover {
    opacity: 0.1;
    background-color: white;
}

#_dynamic_team_2 .ScoreboardPlayer.active .PlayerPortraitWrapper,
#_dynamic_team_3 .ScoreboardPlayer.active .PlayerPortraitWrapper {
    opacity: 0.1;
    background-color: yellow;
}

.PlayerPortraitWrapper:hover
{
    opacity: 1;
}

#PlayerColor
{
	width: 100%;
	height: 4px;
	z-index: 5;
	background-image: url("s2r://panorama/images/hud/reborn/topbar_playerslot_vignette_psd.vtex");
	background-size: 92% 100%;
	background-repeat: no-repeat;
}

#_dynamic_team_3 #PlayerColor
{
	background-size: 93% 100%;
	background-position: 5px 0px;
}

#PlayerColorShadow
{
	width: 100%;
	height: 100%;
	margin-top: 4px;
	z-index: 4;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), color-stop( 0.03, #000a ), color-stop( 0.1, #0000 ), color-stop( 0.91, #0000 ), color-stop( 0.95, #0006 ),  to( #000a ) );
}

#HeroIcon
{
    width: 66px;
    height: 40px;
    z-index: 3;
}

#DisconnectIcon
{
	width: 67px;
	height: 20px;
	margin-top: 12px;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 20;
	opacity: 0;
}