.CustomHudRoot
{
	width: 100%;
	height: 100%;
}

#MultiteamScoreboard
{
    horizontal-align: middle;
    vertical-align: top;
    height: 800px;
    width: 868px;
    flow-children: right;
}

.AspectRatio5x4 #MultiteamScoreboard {
    width: 814px;
}

.AspectRatio4x3 #MultiteamScoreboard {
    width: 868px;
}

.AspectRatio16x10 #MultiteamScoreboard {
    width: 868px;
}


.ScoreboardTeamWrapper
{
    transition-property: position;
    transition-duration: ANIM_TIME;
    width: 538px;
}

.AspectRatio5x4 .ScoreboardTeamWrapper {
    width: 504px;
}

#PlayersContainer
{
    flow-children: right;
}

.ScoreboardPlayer.active .PlayerPortraitWrapper {
    box-shadow: inset yellow 0px 0px 5px 0px;
}

.PlayerPortraitWrapper {
    box-shadow: inset lightgrey 0px 0px 5px 0px;
    opacity: .7;
}

.PlayerPortraitWrapper:hover
{
    box-shadow: inset orange 0px 0px 5px 0px;
}

#HeroIcon
{
    width: 66px;
    height: 40px;
}

.AspectRatio5x4 #HeroIcon
{
    width: 62px;
}